<% if(token) { %> <%- include("userprofile/headermember.ejs") %> <% } 
 else { %> <%- include("header.ejs") %> <% } %>

 <% if(products < 1){ %>
  <h3 class="mt-5 text-center">Din varukorg är tom</h3>
  <div class="mt-4 text-center">
    <a href="/allproducts"><button type="button" class="btn btn-outline-dark">Gå till produktlistan</button></a>
  </div>
  <% } else { %>

<% let total = 0 %>
<% for (let i = 0; i < products.length; i++) { %>
<% total += products[i].price * products[i].quantity %>
<% } %>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="./src/bootstrap-input-spinner.js"></script>
<script>
  $("input[type='number']").inputSpinner()
</script>
<div class="container mypage">
  <div class="row justify-content-center py-2">
    <h3 class="shoppingcart-title">Din Varukorg</h3>
  </div>

  <div class="container thecontainer">
    <div class="row justify-content-center">
      <div class="text-center">


        <ul class="wishlist ">
          <% products.forEach( (candy)=>{ %>
          <li class="wishlistItem">
            <a href="/allproducts/<%=candy.name %>">
              <p><%= candy.name %></p>
            </a>
            <p><%= candy.price %> kr </p>
            <div>
              <a href="/allproducts/<%=candy.name %>"><img src="<%= candy.img %>" alt="Bild på lakrits"
                  class="hover wishlistImg"></a>
            </div>
            <form id="myform">
              <a href="/decreaseQuantityInCart/<%= candy._id%>"><input type="button" value="-"
                  class="qtyminus btn btn-light" data-field="quantity" /></a>
              <input type="text" name="quantity" value="<%= candy.quantity %>" class="qty btn" />
              <a href="/increaseQuantityInCart/<%= candy._id%>"><input type="button" value="+"
                  class="qtyplus btn btn-light" data-field="quantity" /></a>
            </form>
            <a href="/removeCandyInCart/<%= candy._id%>"><button style="margin-top: 10px;" type="button"
                class="btn btn-outline-dark wishlistButton">Ta bort från listan</button></a>
          </li>
          <% } ) %>
        </ul>
      </div>
    </div>
    <section class="orderForm totalsummor my-4 mx-4 pb-5 ml-auto">
      <div class="container pt-4">
        <div class="row mb-3 text-right">
          <div class="col-6 total">
            Summa artiklar:
          </div>
          <div class="col-6 total">
            <%= total %> kr
          </div>
          <div class="col-6">
            Fraktavgift:
          </div>
          <div class="col-6">
            0 kr
          </div>
        </div>
        <div class="row text-right">
          <div class="col-6 totalInklMoms">
            Totalt inkl. moms:
          </div>
          <div class="col-6 totalInklMoms">
            <%= total %> kr
          </div>
          <div class="col-6">
            varav moms:
          </div>
          <div class="col-6">
            <%= total * 0.2 %> kr
          </div>
        </div>
    </section>
  </div>

  <div class="row justify-content-center pt-2">
    <h3 class="checkout-information-title">Din information</h3>
  </div>

  <!-- <form action="/checkout/<%= user._id %>" class="needs-validation" method="post" novalidate> -->
  <form class="needs-validation" novalidate>
    <section class="orderForm my-4 mx-4">
      <div class="container pt-4">
        <div class="row">
          <!--Form header-->
          <div class="col-12">
            <h3>Mina uppgifter</h3>
            <hr class="mt-1">
          </div>
          <!--Form header END-->
          <!--Pesonal details form-->
          <div class="col-12">
            <div class="row mx-4">
              <div class="col-12 mb-2">
              </div>
              <div class="col-12 col-md-6">
                <input class="form-control order-form-input" name="firstname" placeholder="Förnamn"
                  value="<%=user.firstname%>" required>
                <div class="invalid-feedback">
                  Skriv in ditt förnamn.
                </div>
                <div class="valid-feedback">
                  Tack!
                </div>
              </div>
              <div class="col-12 col-md-6">
                <input class="form-control order-form-input" name="lastname" placeholder="Efternamn"
                  value="<%=user.lastname%>" required>
                <div class="invalid-feedback">
                  Skriv in ditt efternamn.
                </div>
                <div class="valid-feedback">
                  Tack!
                </div>
              </div>
              <div class="col-12 col-md-6 mt-2">
                <input type="email" class="form-control order-form-input" name="email" placeholder="Email"
                  value="<%=user.email%>" readonly>
                <div class="invalid-feedback">
                  Lägg till din email.
                </div>
                <div class="valid-feedback">
                  Tack!
                </div>
              </div>
              <div class="col-12 col-md-6 mt-2">
                <input class="form-control order-form-input" name="phoneNr" placeholder="Mobilnummer"
                  value="<%=user.phonenumber%>" required>
                <div class="invalid-feedback">
                  Lägg till ditt mobilnummer.
                </div>
                <div class="valid-feedback">
                  Tack!
                </div>
              </div>
              <div class="col-12 mt-2">
                <input class="form-control order-form-input" name="address" placeholder="Adress"
                  value="<%=user.address%>" required>
                <div class="invalid-feedback">
                  Lägg till din adress.
                </div>
                <div class="valid-feedback">
                  Tack!
                </div>
              </div>
              <div class="col-12 col-md-6 mt-2">
                <input class="form-control order-form-input" name="zip" placeholder="Postnummer" value="<%=user.zip%>"
                  required>
                <div class="invalid-feedback">
                  Lägg till ditt postnummer.
                </div>
                <div class="valid-feedback">
                  Tack!
                </div>
              </div>
              <div class="col-12 col-md-6 mt-2">
                <input class="form-control order-form-input" name="city" placeholder="Stad" value="<%=user.city%>"
                  required>
                <div class="invalid-feedback">
                  Lägg till staden som du bor i.
                </div>
                <div class="valid-feedback">
                  Tack!
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Personal details END-->
      </div>
    </section>
    <!--Form details END-->
    <a href="/thankyou"><button type="submit" id="btnStripe" class="btn btn-dark d-block mx-auto btn-submit mt-3 mb-3">Beställ</button></a>
  </form>
</div>
<%- include("footer.ejs") %>

<% if(typeof sessionId !== "undefined"){ %>
<script src="https://js.stripe.com/v3/"></script>
<script>
    let stripe = Stripe("pk_test_GvsWYMURyMcIirvoaTVRVnyc009Yo67npD");
    document.querySelector("#btnStripe").addEventListener("click", () => {
      stripe.redirectToCheckout({
        sessionId: "<%= sessionId %>"
      })
    });
</script>
<% } %>
<% } %>



